In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import category_encoders as ce


def load_data(file_path):
    """Load data from a CSV file into a pandas DataFrame."""
    return pd.read_csv(file_path)

In [36]:
df = load_data('data/bank_data_train.csv')
TRESHOLD = 0.7
print(df.shape)

(355190, 116)

In [37]:
def explore_data(df):
    """Display basic information about the DataFrame and drop 'ID' if present. Returns the (possibly) modified DataFrame."""
    print("DataFrame Info:")
    df.info()
    
    # drop unnecessary column if it exists
    if 'ID' in df.columns:
        df = df.drop(columns=['ID'])
        print("\nDropped column: 'ID'")
    else:
        print("\nColumn 'ID' not found; skipping drop.")
    
    print("\nDataFrame Description (numeric):")
    display(df.describe())
    
    print("\nDataFrame Description (object):")
    display(df.describe(include=['object']))
    
    # optionally show missing values and plot in grid format
    print("\nMissing Values:")
    df_info = pd.DataFrame(df.isnull().sum(), columns=['Missing Values'])
    df_info['Percentage'] = (df_info['Missing Values'] / len(df)) * 100

    # fig, ax = plt.subplots(figsize=(15, 10))
    # df_info['Percentage'].plot(kind='bar', ax=ax, color='tab:blue')
    # ax.set_title('Missing Values in Each Column')
    # ax.set_ylabel('Percentage (%)')
    # ax.set_xlabel('Columns')
    # plt.xticks(rotation=45, ha='right')
    # plt.tight_layout()
    # plt.show()
    
    
    #siwich column into rows for better display

    df_info = df_info.transpose()
    display(df_info)
    # display(df.isnull().sum())
    
    # check the distribution of target column
    print(df['TARGET'].value_counts())
    return df

df = explore_data(df)

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355190 entries, 0 to 355189
Columns: 116 entries, ID to TARGET
dtypes: float64(94), int64(9), object(13)
memory usage: 314.3+ MB

Dropped column: 'ID'

DataFrame Description (numeric):

,CR_PROD_CNT_IL,AMOUNT_RUB_CLO_PRC,PRC_ACCEPTS_A_EMAIL_LINK,APP_REGISTR_RGN_CODE,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,TURNOVER_DYNAMIC_IL_1M,CNT_TRAN_AUT_TENDENCY1M,SUM_TRAN_AUT_TENDENCY1M,AMOUNT_RUB_SUP_PRC,...,REST_DYNAMIC_CC_3M,MED_DEBT_PRC_YWZ,LDEAL_ACT_DAYS_PCT_TR3,LDEAL_ACT_DAYS_PCT_AAVG,LDEAL_DELINQ_PER_MAXYWZ,TURNOVER_DYNAMIC_CC_3M,LDEAL_ACT_DAYS_PCT_TR,LDEAL_ACT_DAYS_PCT_TR4,LDEAL_ACT_DAYS_PCT_CURR,TARGET
count,355190.000000,316867.000000,155163.0,60550.000000,155163.0,155163.0,355190.000000,77112.000000,77112.000000,316867.000000,...,355190.000000,95713.000000,93448.000000,98175.000000,95713.000000,355190.000000,93448.000000,93448.000000,93448.000000,355190.000000
mean,0.105225,0.044045,0.0,50.947498,0.0,0.0,0.001305,0.416896,0.414572,0.085249,...,0.007309,0.055074,0.025707,0.049943,0.009252,0.004309,0.013938,0.013938,0.013938,0.081435
std,0.431372,0.108449,0.0,21.777855,0.0,0.0,0.029118,0.316493,0.338612,0.142310,...,0.066681,0.215909,0.115732,0.185830,0.092789,0.059852,0.097099,0.097099,0.097099,0.273503
min,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.006944,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.0,33.000000,0.0,0.0,0.000000,0.166667,0.139645,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.0,54.000000,0.0,0.0,0.000000,0.300000,0.285714,0.027117,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.036608,0.0,72.000000,0.0,0.0,0.000000,0.571429,0.661195,0.110005,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,11.000000,1.000000,0.0,89.000000,0.0,0.0,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

DataFrame Description (object):

,CLNT_TRUST_RELATION,APP_MARITAL_STATUS,APP_KIND_OF_PROP_HABITATION,CLNT_JOB_POSITION_TYPE,CLNT_JOB_POSITION,APP_DRIVING_LICENSE,APP_EDUCATION,APP_TRAVEL_PASS,APP_CAR,APP_POSITION_TYPE,APP_EMP_TYPE,APP_COMP_TYPE,PACK
count,69421,68234,59361,44781,210811,57257,68104,57257,57256,60545,67362,67362,355190
unique,21,13,5,4,19588,2,17,2,2,4,4,4,12
top,FRIEND,M,SO,SPECIALIST,ДИРЕКТОР,N,H,N,N,SPECIALIST,PRIVATE,PRIVATE,102
freq,24896,30724,28056,25123,11200,36332,42459,52750,32843,36622,59087,59087,116986

Missing Values:

,CR_PROD_CNT_IL,AMOUNT_RUB_CLO_PRC,PRC_ACCEPTS_A_EMAIL_LINK,APP_REGISTR_RGN_CODE,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,TURNOVER_DYNAMIC_IL_1M,CNT_TRAN_AUT_TENDENCY1M,SUM_TRAN_AUT_TENDENCY1M,AMOUNT_RUB_SUP_PRC,...,REST_DYNAMIC_CC_3M,MED_DEBT_PRC_YWZ,LDEAL_ACT_DAYS_PCT_TR3,LDEAL_ACT_DAYS_PCT_AAVG,LDEAL_DELINQ_PER_MAXYWZ,TURNOVER_DYNAMIC_CC_3M,LDEAL_ACT_DAYS_PCT_TR,LDEAL_ACT_DAYS_PCT_TR4,LDEAL_ACT_DAYS_PCT_CURR,TARGET
Missing Values,0.0,38323.000000,200027.000000,294640.000000,200027.000000,200027.000000,0.0,278078.000000,278078.000000,38323.000000,...,0.0,259477.000000,261742.000000,257015.000000,259477.000000,0.0,261742.000000,261742.000000,261742.000000,0.0
Percentage,0.0,10.789437,56.315493,82.952786,56.315493,56.315493,0.0,78.289929,78.289929,10.789437,...,0.0,73.053014,73.690701,72.359864,73.053014,0.0,73.690701,73.690701,73.690701,0.0

TARGET
0    326265
1     28925
Name: count, dtype: int64

In [38]:
from scipy.stats import chi2_contingency
import numpy as np

def cramers_v(x, y):
    """Measure association between categorical x and binary y (TARGET)"""
    confusion_matrix = pd.crosstab(x, y)
    chi2 = chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum().sum()
    phi2 = chi2 / n
    r, k = confusion_matrix.shape
    return np.sqrt(phi2 / min(k-1, r-1))

In [39]:
# Annalyze data whitch to keep or drop
print("\nAnalyzing columns with >70% missing values for correlation with TARGET...")
print(f"df shape before dropping columns: {df.shape}")
high_missing = df.columns[df.isnull().sum() / len(df) > TRESHOLD]
for col in high_missing:
    if col == 'TARGET':
        continue
    # coerce to numeric where possible, compute correlation with TARGET
    
    if df[col].dtype == 'object':
        # categorical column
        corr = cramers_v(df[col].dropna(), df.loc[df[col].notnull(), 'TARGET'])
        if corr < 0.1:
            print(f"Dropping column {col} due to low correlation ({corr:.3f}) with TARGET")
            df = df.drop(columns=[col])
    else:
        # numerical column
        series_num = pd.to_numeric(df[col], errors='coerce')
        corr = series_num.corr(df['TARGET'])
        if pd.notnull(corr) and abs(corr) < 0.05:
            print(f"Dropping column {col} due to low correlation ({corr:.3f}) with TARGET")
            df = df.drop(columns=[col])
    
    
    # series_num = pd.to_numeric(df[col], errors='coerce')
    
    
    
    # corr = cramers_v(df[col].dropna(), df.loc[df[col].notnull(), 'TARGET'])
    # missing_pct = df[col].isnull().sum() / len(df) * 100
    # corr_str = f"{corr:.3f}" if pd.notnull(corr) else "N/A"
    # print(f"{col}: Missing={missing_pct:.1f}%, Correlation={corr_str}")
print(f"df shape after dropping columns: {df.shape}")

Analyzing columns with >70% missing values for correlation with TARGET...
df shape before dropping columns: (355190, 115)
Dropping column APP_REGISTR_RGN_CODE due to low correlation (-0.028) with TARGET
Dropping column CLNT_TRUST_RELATION due to low correlation (0.029) with TARGET
Dropping column APP_MARITAL_STATUS due to low correlation (0.030) with TARGET
Dropping column APP_KIND_OF_PROP_HABITATION due to low correlation (0.008) with TARGET
Dropping column CLNT_JOB_POSITION_TYPE due to low correlation (0.036) with TARGET
Dropping column APP_DRIVING_LICENSE due to low correlation (0.031) with TARGET
Dropping column APP_EDUCATION due to low correlation (0.058) with TARGET
Dropping column APP_TRAVEL_PASS due to low correlation (0.024) with TARGET
Dropping column APP_CAR due to low correlation (0.028) with TARGET
Dropping column APP_POSITION_TYPE due to low correlation (0.034) with TARGET
Dropping column APP_EMP_TYPE due to low correlation (0.030) with TARGET
Dropping column DEAL_YQZ_IR_MAX due to low correlation (0.019) with TARGET
Dropping column LDEAL_YQZ_COM due to low correlation (-0.028) with TARGET
Dropping column DEAL_YQZ_IR_MIN due to low correlation (0.024) with TARGET
Dropping column LDEAL_TENOR_MIN due to low correlation (0.024) with TARGET
Dropping column APP_COMP_TYPE due to low correlation (0.030) with TARGET
Dropping column DEAL_GRACE_DAYS_ACC_S1X1 due to low correlation (-0.003) with TARGET
Dropping column AVG_PCT_MONTH_TO_PCLOSE due to low correlation (0.009) with TARGET
Dropping column DEAL_YWZ_IR_MIN due to low correlation (-0.016) with TARGET
Dropping column DEAL_YWZ_IR_MAX due to low correlation (-0.039) with TARGET
Dropping column DEAL_GRACE_DAYS_ACC_AVG due to low correlation (-0.010) with TARGET
Dropping column LDEAL_YQZ_PC due to low correlation (0.023) with TARGET
Dropping column DEAL_GRACE_DAYS_ACC_MAX due to low correlation (-0.011) with TARGET
Dropping column CLNT_SALARY_VALUE due to low correlation (0.012) with TARGET
Dropping column LDEAL_USED_AMT_AVG_YQZ due to low correlation (-0.008) with TARGET
Dropping column LDEAL_USED_AMT_AVG_YWZ due to low correlation (-0.013) with TARGET
Dropping column LDEAL_DELINQ_PER_MAXYWZ due to low correlation (0.001) with TARGET
df shape after dropping columns: (355190, 88)

In [40]:
for col in df:
    column_type = df[col].dtype
    if column_type != 'int64' and column_type != 'float64':
        print(f"{col}: {column_type}")

CLNT_JOB_POSITION: object
PACK: object

In [41]:
import numpy as np


def normalize_categorical_columns(df):
    """
    Normalize categorical columns by converting to lowercase/uppercase
    and stripping whitespace
    """
    cat_cols = df.select_dtypes(include=['object']).columns.tolist()
    
    for col in cat_cols:
        # Convert to string, lowercase, and strip whitespace
        df[col] = df[col].astype(str).str.upper()
        df[col] = df[col].str.strip()
        df[col] = df[col].replace('NAN', np.nan)  # Replace 'NA' strings with NaN
        df[col] = df[col].replace('', np.nan)  # Replace empty strings with NaN
    
    return df
df = normalize_categorical_columns(df)

In [52]:
for col in df:
    column_type = df[col].dtype
    if column_type != 'int64' and column_type != 'float64':
        print(f"{col}: {column_type}")


# Count non-null occurrences of each job position
existing_values = {}
for val in df['PACK']:
    if pd.isnull(val):
        continue
    existing_values[val] = existing_values.get(val, 0) + 1
corr = cramers_v(df['PACK'].dropna(), df.loc[df['PACK'].notnull(), 'TARGET'])
missing_pct = df['PACK'].isnull().sum() / len(df) * 100
print(f"PACK: Missing={missing_pct:.1f}%, Correlation={corr:.3f}")
print(f"existing_values length: {len(existing_values)}")
existing_values

CLNT_JOB_POSITION: object
PACK: object
PACK: Missing=0.0%, Correlation=0.071
existing_values length: 12

{'K01': 77083,
 '102': 116986,
 '105': 44936,
 'O01': 50478,
 '103': 24860,
 '101': 1816,
 '107': 27952,
 '301': 4208,
 '104': 6776,
 '108': 2,
 '109': 86,
 'M01': 7}

In [66]:
import category_encoders as ce
import pandas as pd

def convert_data_types(df):
    """
    Convert object columns to appropriate numeric representations.
    Note: For production, split train/test BEFORE calling this function
    and fit encoders only on training data.
    """
    print("Original shape:", df.shape)
    
    # Get object columns
    obj_cols = df.select_dtypes(include=['object']).columns.tolist()
    print(f"Object columns: {obj_cols}")
    
    # Try to convert object columns to numeric where possible
    for col in obj_cols:
        try:
            converted = pd.to_numeric(df[col], errors='coerce')
            if converted.notna().mean() > 0.9:
                df[col] = converted
                print(f"Converted {col} to numeric")
        except:
            continue
    
    # Update object columns list after numeric conversion
    obj_cols = df.select_dtypes(include=['object']).columns.tolist()
    
    # Separate columns by cardinality
    cat_cols_to_encode = []  # Low cardinality (one-hot)
    high_card_cols = []      # High cardinality (target encode)
    cols_to_drop = []        # All null columns
    
    for col in obj_cols:
        if col == 'TARGET':
            continue
            
        # Skip columns with all nulls
        if df[col].isnull().all():
            print(f"Skipping {col} (all null)")
            cols_to_drop.append(col)
            continue
        
        unique_count = df[col].nunique(dropna=True)
        
        # Categorize by cardinality
        if unique_count < 10:
            cat_cols_to_encode.append(col)
            print(f"Low cardinality {col}: {unique_count} unique values → One-hot encode")
        else:
            high_card_cols.append(col)
            print(f"High cardinality {col}: {unique_count} unique values → Target encode")
    
    # Drop all-null columns
    if cols_to_drop:
        df = df.drop(columns=cols_to_drop)
        print(f"Dropped all-null columns: {cols_to_drop}")
    
    # Target encode high-cardinality columns
    if high_card_cols:
        print(f"\nApplying Target Encoding to: {high_card_cols}")
        
        for col in high_card_cols:
            try:
                # Create mask for valid (non-null) values
                valid_mask = df[col].notna() & df['TARGET'].notna()
                
                # Initialize encoder
                encoder = ce.TargetEncoder(cols=[col], smoothing=1.0)
                
                # Fit and transform on valid data
                df.loc[valid_mask, f"{col}_ENCODED"] = encoder.fit_transform(
                    df.loc[valid_mask, [col]], 
                    df.loc[valid_mask, 'TARGET']
                )[col]
                
                # For null values, use global mean of target
                global_mean = df['TARGET'].mean()
                df[f"{col}_ENCODED"].fillna(global_mean, inplace=True)
                
                print(f"✓ Target encoded: {col}")
                
            except Exception as e:
                print(f"✗ Target encoding failed for {col}: {e}")
                continue
        
        # Drop original high-cardinality columns after encoding
        df = df.drop(columns=high_card_cols)
    
    # One-hot encode low-cardinality columns
    if cat_cols_to_encode:
        print(f"\nOne-hot encoding: {cat_cols_to_encode}")
        df = pd.get_dummies(df, columns=cat_cols_to_encode, drop_first=True)
    
    print(f"\nFinal shape: {df.shape}")
    return df

# Apply conversion
ds = convert_data_types(df)

Original shape: (355190, 90)
Object columns: ['CLNT_JOB_POSITION', 'PACK']
High cardinality CLNT_JOB_POSITION: 15112 unique values → Target encode
High cardinality PACK: 12 unique values → Target encode

Applying Target Encoding to: ['CLNT_JOB_POSITION', 'PACK']

/tmp/ipykernel_6652/2814637813.py:79: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[f"{col}_ENCODED"].fillna(global_mean, inplace=True)
/tmp/ipykernel_6652/2814637813.py:79: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[f"{col}_ENCODED"].fillna(global_mean, inplace=True)

✓ Target encoded: CLNT_JOB_POSITION
✓ Target encoded: PACK

Final shape: (355190, 88)

In [68]:
for col in ds:
    column_type = ds[col].dtype
    if column_type != 'int64' and column_type != 'float64':
        print(f"{col}: {column_type}")


# Count non-null occurrences of each job position
existing_values = {}
for val in ds['CLNT_JOB_POSITION_ENCODED']:
    if pd.isnull(val):
        continue
    existing_values[val] = existing_values.get(val, 0) + 1
corr = cramers_v(ds['CLNT_JOB_POSITION_ENCODED'].dropna(), ds.loc[ds['CLNT_JOB_POSITION_ENCODED'].notnull(), 'TARGET'])
missing_pct = ds['CLNT_JOB_POSITION_ENCODED'].isnull().sum() / len(ds) * 100
print(f"CLNT_JOB_POSITION: Missing={missing_pct:.1f}%, Correlation={corr:.3f}")
print(f"existing_values length: {len(existing_values)}")
existing_values

CLNT_JOB_POSITION: Missing=0.0%, Correlation=0.256
existing_values length: 578

{0.07399577167019028: 1892,
 0.08570498479695801: 144379,
 0.05435549908230976: 7083,
 0.08143528478426494: 9558,
 0.06618883638984543: 24974,
 0.06470588235294118: 3570,
 0.06639839034205232: 497,
 0.07441860465116279: 1075,
 0.07459189252518941: 12803,
 0.08143532442484441: 425,
 0.0949367088607595: 316,
 0.0821917808219178: 365,
 0.03076923076923077: 130,
 0.10877513711151737: 2188,
 0.10571428571428572: 350,
 0.049310710498409335: 1886,
 0.04027732020663045: 75,
 0.05029585798816568: 676,
 0.11743119266055047: 1635,
 0.05740343347639485: 1864,
 0.03572961825841947: 168,
 0.027777777777777776: 72,
 0.07633587786259542: 262,
 0.08143528691537724: 7194,
 0.08143529858405676: 885,
 0.14788732394366197: 142,
 0.08143526324439902: 1350,
 0.0748663101604278: 187,
 0.07851239669421488: 242,
 0.08379888268156424: 179,
 0.06699928724162509: 1403,
 0.08706467661691543: 804,
 0.06784386617100371: 1076,
 0.055842812823164424: 967,
 0.04819277108433735: 1245,
 0.06418383518225039: 1262,
 0.1163852122318576: 2191,
 0.08832807570977919: 317,
 0.059533966009383404: 190,
 0.05555555555555555: 630,
 0.08143528769936967: 3310,
 0.08378378378378379: 2960,
 0.08143578378407289: 378,
 0.10059880239520957: 1670,
 0.08143522043991047: 1212,
 0.057846153846153846: 1625,
 0.09421641791044776: 1072,
 0.13310580204778158: 293,
 0.08448616600790514: 4048,
 0.0791599353796446: 619,
 0.04698972099853157: 2043,
 0.12499999991020644: 40,
 0.046948356807511735: 426,
 0.09734513274336283: 113,
 0.046153846153846156: 390,
 0.04974355512104132: 198,
 0.09852216748768473: 406,
 0.12340425531914893: 470,
 0.08143529330216608: 1143,
 0.04405286343612335: 227,
 0.1780821917808219: 73,
 0.062325581395348835: 1075,
 0.055372445616348055: 1517,
 0.08609271523178808: 453,
 0.08143527899130167: 1480,
 0.06274509803921569: 255,
 0.13076923076923078: 1040,
 0.06495263870094722: 739,
 0.12138728323699421: 173,
 0.12831241283124128: 717,
 0.1499999998586776: 80,
 0.07062146892655367: 354,
 0.06870229007633588: 393,
 0.1152317880794702: 755,
 0.14189189189189189: 444,
 0.08143510408547448: 889,
 0.06396255850234009: 4487,
 0.10014727540500737: 679,
 0.08784358931148815: 114,
 0.07339449541284404: 109,
 0.07368877766043577: 114,
 0.1372549019607824: 51,
 0.11351351351351352: 370,
 0.06310679611650485: 206,
 0.057128663686040734: 2013,
 0.08143478780300581: 720,
 0.113636363635148: 44,
 0.0967741935483871: 155,
 0.09374992433626024: 64,
 0.05217391304347826: 115,
 0.09259259259259256: 54,
 0.06642066420664207: 271,
 0.10199840096254052: 95,
 0.05649717514124294: 354,
 0.082039911308204: 902,
 0.06002143622722401: 933,
 0.08143530712509219: 660,
 0.07692307692307698: 104,
 0.10903873744619799: 697,
 0.08637236084452975: 521,
 0.060109289617486336: 183,
 0.06976744186166245: 129,
 0.13095238095238096: 84,
 0.05116279069767442: 215,
 0.0814339280705342: 576,
 0.12363636363636364: 550,
 0.1259259259259259: 135,
 0.08080808080808081: 198,
 0.11092985318107668: 1839,
 0.07023060796645703: 954,
 0.05263157938604832: 76,
 0.06862745098039216: 1020,
 0.08176377719565305: 28,
 0.06557377049180328: 549,
 0.1518987341772152: 79,
 0.06432748538011696: 171,
 0.08109471408717506: 144,
 0.05291005291005291: 189,
 0.1225: 400,
 0.08143763949761156: 153,
 0.06666666666666667: 885,
 0.03333333333333333: 210,
 0.15492957746478872: 71,
 0.08222882409689014: 45,
 0.0711743772241993: 281,
 0.023809523825598332: 42,
 0.09813084112149532: 214,
 0.08143529453036699: 1060,
 0.08146387050953853: 132,
 0.0742296918767507: 714,
 0.07051282051282051: 468,
 0.08143159116711558: 290,
 0.04225352112676056: 142,
 0.11737089201877934: 213,
 0.1071342361062433: 28,
 0.06987115956392467: 2018,
 0.08163265306122448: 98,
 0.1282798833819242: 343,
 0.04071764407781751: 180,
 0.07997057596454434: 192,
 0.022222222222222223: 90,
 0.055762081784386616: 269,
 0.12339331619537275: 389,
 0.12962962962962954: 54,
 0.0989399293286219: 283,
 0.08143555582483109: 392,
 0.08089025391203317: 300,
 0.08143592466533299: 312,
 0.04216867469879518: 332,
 0.0814311773002022: 325,
 0.06250011634171657: 160,
 0.05142857142857143: 175,
 0.06490384615384616: 1248,
 0.04568527918781726: 197,
 0.11057692307692307: 208,
 0.1281109387989999: 46,
 0.16115057521863346: 21,
 0.04238195344267019: 192,
 0.09523809523424498: 84,
 0.027649769585253458: 217,
 0.062111801242236024: 161,
 0.09090909090909091: 385,
 0.08140797882112745: 372,
 0.06526806526806526: 429,
 0.11827956989247312: 372,
 0.029411764705882353: 136,
 0.09756097559752869: 82,
 0.08143542698894561: 483,
 0.135135132911995: 111,
 0.05128205145099373: 78,
 0.08227848101265822: 158,
 0.06741573033707865: 89,
 0.08143533525888269: 68,
 0.03707748611674793: 135,
 0.0452784060318318: 92,
 0.058823529411764705: 323,
 0.0750733137829912: 1705,
 0.07718120805369127: 298,
 0.046104928457869634: 629,
 0.0273972602739726: 73,
 0.08143574989241674: 133,
 0.057692307692307696: 156,
 0.06879194630872483: 596,
 0.04424778761061947: 339,
 0.07757314850738727: 153,
 0.05625: 320,
 0.07894736842105263: 152,
 0.05319148936170213: 94,
 0.169527205182584: 115,
 0.045112781954887216: 266,
 0.05391304347826087: 575,
 0.08036290575312649: 255,
 0.12981601675539425: 88,
 0.09187045604758758: 1513,
 0.1038961038961039: 154,
 0.08267716535433071: 254,
 0.07936507936507936: 126,
 0.0038621396482477403: 92,
 0.06060606060606061: 132,
 0.10552763819095477: 199,
 0.03508771929824561: 57,
 0.07878787878787878: 165,
 0.07659574468085106: 235,
 0.06375838926174497: 298,
 0.02666666666666667: 75,
 0.04081632653061224: 98,
 0.1130952380952381: 336,
 0.0821170090751723: 28,
 0.02040816326532165: 98,
 0.08143645717150876: 264,
 0.07589285714285714: 224,
 0.08374384236453201: 406,
 0.06349206349206349: 126,
 0.08133644397365215: 315,
 0.0363636363636364: 165,
 0.15315315315315314: 111,
 0.11538461538461496: 52,
 0.07582938388625593: 211,
 0.04054054054054054: 222,
 0.04347826086975914: 46,
 0.08333333333333201: 144,
 0.11594202898550725: 69,
 0.11627906976386623: 86,
 0.06912442396313365: 217,
 0.09615384615384596: 52,
 0.08150125816130994: 169,
 0.10179640718562874: 167,
 0.12195121948147367: 41,
 0.07172796385177017: 180,
 0.14285714284000942: 42,
 0.10542168674698796: 332,
 0.07630522088353414: 249,
 0.04166666666669416: 96,
 0.07407407407407407: 216,
 0.0989010989010989: 364,
 0.10144927536231885: 207,
 0.09302325581276434: 86,
 0.10835913312693499: 323,
 0.22916666666656452: 48,
 0.12633826195053802: 105,
 0.1407176440778175: 100,
 0.15121951219512195: 205,
 0.078125: 448,
 0.13888888242333863: 36,
 0.045714285714285714: 175,
 0.08141054531613379: 252,
 0.09166666666666666: 240,
 0.09677393736685744: 217,
 0.1: 120,
 6.771572455070003e-08: 68,
 0.0825242718446602: 206,
 0.08315266299886571: 153,
 0.1652892561983471: 121,
 0.08292682926829269: 205,
 0.04967602591792657: 463,
 0.03954802259887006: 177,
 0.029411807964900206: 68,
 0.03896103896103896: 231,
 0.06571764407781751: 160,
 0.049019607843137254: 102,
 0.0975609756097561: 82,
 0.08143613095398583: 230,
 0.09565217391304348: 230,
 0.038461538461538464: 234,
 0.10344555957878473: 116,
 0.0814354976159197: 96,
 0.10638297872335736: 47,
 0.08136109643909446: 299,
 0.06611570247933884: 121,
 0.10126582278481013: 79,
 0.18181818181818177: 55,
 0.0814356362039243: 12,
 0.08108108109574504: 74,
 0.08143949521115024: 27,
 0.16091954022988506: 87,
 0.15675675675675677: 555,
 0.18292682926829268: 82,
 0.014084507042253521: 71,
 0.15025906735751296: 193,
 0.19834710743801653: 121,
 0.04594594594594595: 370,
 0.08875739644970414: 169,
 0.05405405405405406: 185,
 0.056713635414347076: 231,
 0.17240256684940639: 58,
 0.039215686274511254: 51,
 0.07692307692307693: 377,
 0.08143535902791509: 456,
 0.08178263403527115: 300,
 0.16666665707513967: 72,
 0.09152594868244254: 42,
 0.14705876896160283: 68,
 0.028169014084507043: 71,
 0.17142854389942566: 35,
 0.05882354821407586: 102,
 0.08121827411167512: 197,
 0.08164141988352543: 13,
 0.10112359550561797: 89,
 0.0979381443298969: 194,
 0.054545454545454564: 55,
 0.12213740458015267: 131,
 0.16513367719740873: 72,
 0.1568627450980366: 51,
 0.1016949152542373: 59,
 0.1111111111111111: 324,
 0.08163265306122443: 147,
 0.07835034840855448: 126,
 0.14634146336541862: 82,
 0.03389830508474576: 59,
 0.08221885220980578: 96,
 0.2875: 80,
 0.14583333333328882: 48,
 0.1923076923076909: 52,
 0.08158716125589342: 154,
 0.15625: 64,
 0.13157894660473413: 76,
 0.11764705882352941: 119,
 0.047058823529411764: 340,
 0.017543859649122806: 57,
 0.1206896551724138: 58,
 0.17073170724936362: 41,
 0.05583756345177665: 197,
 0.10285714285714286: 175,
 0.02325581395945868: 43,
 0.0005450342436018353: 125,
 0.056962025316455694: 316,
 0.1110840749171627: 27,
 0.042735042735042736: 117,
 0.09071764407781752: 120,
 0.0684931506849315: 73,
 0.08143544678573518: 15,
 0.08142523948278274: 484,
 0.03125: 64,
 0.11974189213268766: 100,
 0.07408078051695531: 81,
 0.1323529411764706: 68,
 0.1999999997556199: 40,
 0.18055555555555555: 144,
 0.15757575757575756: 165,
 0.12903146312744299: 31,
 0.07563025210084033: 119,
 0.2590972525179922: 27,
 0.12631578947368421: 95,
 0.1411042944785276: 163,
 0.2999900776279087: 30,
 0.03225888584568635: 93,
 0.1340782122905028: 358,
 0.13792406321409556: 87,
 0.05405405518762005: 74,
 0.23893875002177348: 25,
 0.08594242024460494: 68,
 0.11188811188811189: 143,
 0.08755760368663594: 217,
 0.07693423392105818: 52,
 0.05263157894736842: 133,
 0.08143632384665636: 136,
 0.07407407407407408: 108,
 0.09243697478991597: 119,
 0.10344827586206896: 58,
 0.09375: 96,
 0.08686440677966102: 472,
 0.06172839506172839: 81,
 0.0851063829787234: 376,
 0.08144767486023478: 143,
 0.02190132214625161: 231,
 0.04285714285714286: 70,
 0.17857142857142858: 56,
 0.09326424870466321: 386,
 0.07692307694835793: 156,
 0.08143538560528979: 105,
 0.16985224757257072: 22,
 0.2580615661697852: 31,
 0.027777783816134403: 72,
 0.0814588925489608: 66,
 0.09090909090873327: 44,
 0.0759493670886076: 79,
 0.04761904762848055: 42,
 0.1524390243902439: 164,
 0.044444444444958174: 90,
 0.08446712845506722: 48,
 0.21094347156616805: 23,
 0.19672131147540983: 61,
 0.0782608695652174: 115,
 0.03030314587851514: 66,
 0.12987012987012986: 77,
 0.08977978593821778: 88,
 0.024096385542168676: 166,
 0.08144067074085606: 190,
 0.09411764705882353: 85,
 0.13043478260844532: 46,
 5.003526292092845e-07: 32,
 0.060000000000002: 150,
 0.19596288848672894: 42,
 0.12359550561797752: 89,
 0.14285714285714285: 112,
 0.011235955056179775: 89,
 0.04545454545590378: 132,
 0.02272727272948904: 88,
 0.014705882352941176: 68,
 0.08123392937637416: 210,
 0.11530067149195684: 52,
 0.05714285714285714: 70,
 0.12121203130357897: 165,
 0.06896705594347392: 116,
 0.09999999996173528: 40,
 0.09836065573770492: 61,
 0.06122448979592351: 98,
 0.040816326530622574: 49,
 0.08888888888878538: 45,
 0.07954545454545454: 176,
 0.08157133902241769: 65,
 0.08000000000000014: 50,
 0.07317073171358371: 41,
 0.04: 75,
 0.07567567567567568: 185,
 0.08171150074463317: 13,
 4.562653433026033e-10: 39,
 0.08497273296533879: 108,
 0.06521739130434782: 92,
 0.12499973233080393: 96,
 5.6308177524366214e-14: 48,
 0.11864406779661017: 118,
 0.034488552308163105: 29,
 0.15151499311193356: 33,
 0.16666666666666666: 66,
 0.03773584905660377: 106,
 0.03333551705956268: 60,
 0.06779661016949153: 118,
 0.24324323654449495: 37,
 0.018181818181818226: 55,
 1.2402577691677415e-09: 76,
 0.05970149253731343: 134,
 0.05660377358490578: 106,
 0.01960784313725703: 51,
 0.18918918472824497: 37,
 0.1992064640587449: 25,
 0.11940298507462686: 67,
 0.038567796350159514: 104,
 0.0875: 80,
 0.06756756756756757: 74,
 0.2857142857142857: 70,
 6.174880599896042e-11: 41,
 0.05000000006479296: 40,
 0.06451641160627189: 62,
 0.0136986301369863: 73,
 0.015873015873015872: 126,
 0.081436395699359: 7,
 0.056179775280898875: 89,
 0.06944444444444445: 72,
 0.13253012048192772: 83,
 0.0832991946942497: 168,
 0.03225806451612903: 62,
 0.12499999999999999: 112,
 0.03398058252427184: 206,
 0.3939386875787704: 33,
 0.0982175020789074: 18,
 0.08144521052772631: 60,
 0.0555555555555556: 54,
 0.03409090909090909: 88,
 0.06382978723407565: 47,
 0.0851063829787165: 47,
 0.06818181818181818: 132,
 0.08154770804215515: 12,
 0.06896551724137931: 87,
 0.08165949141897731: 12,
 0.0789473684589436: 76,
 0.041666666666666664: 72,
 0.11571764407781751: 60,
 0.1232876712328767: 73,
 0.11111110777153756: 36,
 0.0916030534351145: 131,
 0.05: 60,
 0.0990990990990991: 111,
 0.039603960396039604: 101,
 0.08333333311973651: 36,
 0.06666733713060594: 60,
 0.13030802426464527: 19,
 0.16666666664289162: 42,
 0.0958904109589041: 73,
 0.08143531238384859: 54,
 0.05785123966942149: 121,
 0.04255319148943478: 47,
 0.08144975031459656: 10,
 0.10638297872340426: 94,
 0.022222222223044576: 45,
 0.15151515151515152: 66,
 0.0873015873015873: 126,
 0.09803921568627394: 51,
 0.08143709186848164: 48,
 0.16666279734373568: 90,
 0.125: 80,
 0.06060610768686975: 99,
 0.22950819672131148: 61,
 0.16071428571428573: 112,
 0.13559322033898305: 236,
 0.20588224945995412: 34,
 0.2807017543859649: 57,
 0.10416666666665095: 48,
 0.0: 74,
 0.2333264374858222: 30,
 0.20370370370370347: 54,
 0.29999999999997956: 50,
 0.08536585365853659: 82,
 0.07500000001326412: 40,
 0.009707324303864845: 66,
 0.2028985507246377: 69,
 0.1826086956521739: 115,
 0.1324200913242009: 219,
 0.09710144922756182: 17,
 0.11666666666666667: 60,
 0.08194039313541267: 14,
 0.1724137931034483: 58,
 0.06521739130443069: 46,
 0.056338028169014086: 71,
 1.840701605290292e-07: 66,
 0.10204081632652537: 49,
 0.16176470588235295: 68,
 2.2716118380747567e-11: 42,
 0.08695652173910222: 46,
 0.19999461741477897: 30,
 0.1920335466337542: 26,
 0.08571428571428572: 70,
 0.11428571428571428: 140,
 0.1395348837149681: 43,
 1.0048672852287807e-05: 29,
 0.11764702871242717: 34,
 0.1161532126135929: 76,
 0.013888888888888888: 72,
 0.22580404040919963: 31,
 0.01923076923077002: 52,
 0.12499999999996987: 48,
 0.1730769230769219: 52,
 0.07792207792207792: 77,
 0.037037037037037035: 81,
 0.02439024394569378: 41,
 0.043478260869565216: 69,
 0.08144320663822759: 9,
 0.08669467241541585: 69,
 0.026315790313153044: 38,
 0.10526315753183887: 38,
 0.0784313725490197: 51,
 0.18509066371757746: 27,
 0.03703703703703712: 54,
 0.00020135877926083913: 26,
 0.08143607279588787: 14,
 0.1657176440778175: 20,
 0.057692307692308: 52,
 0.035714285714285726: 56,
 2.7309334507558797e-05: 28,
 0.07246376811594203: 69,
 0.0847457627118644: 59,
 0.14492753623188406: 69,
 0.11111111111111105: 54,
 0.08149181635374407: 12,
 0.18421052475052468: 38,
 0.09523809523809523: 63,
 0.08267501415850913: 15,
 0.07142857143136278: 42,
 0.04651162791056057: 43,
 0.12765957446799822: 47,
 4.160548672633726e-13: 46,
 0.22209395811778485: 27,
 0.0833429903324365: 48,
 0.08737864077669903: 103,
 0.17499999980714875: 40,
 3.6969885194308445e-06: 30,
 0.03529411764705882: 85,
 0.12820512794308628: 39,
 0.08000960616965906: 100,
 0.11764705882352816: 51,
 0.0014647121910906784: 24,
 0.0915951175221231: 18,
 0.12421643594582923: 24,
 0.15624954032534763: 32,
 0.08143530214535676: 38,
 0.03125030834717289: 32,
 0.10483988663569171: 18,
 1.6785064485473173e-10: 40}